<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <%- unless Rails.env.production? -%>
    <p>
      <%= f.check_box :save_to_production %>
      <%= f.label :save_to_production %>
    </p>
  <%- end -%>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>